body{
    background-image: url('https://media1.tenor.com/m/aTwgmGAGgCsAAAAC/inazuma-eleven-go-chrono-stone-inago-cs.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
}