<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Breathing Exercises</title>
  </head>
  <body>
    <h1> Breathing Exercises </h1>

    <p> Breathing exercises are... </p>
    <p> We're going to be using the box method, which consists of four steps: </p>
    <p> </p>

    <ol>
      <li> Breathe in slowly for four seconds. </li>
      <li> Hold for four seconds. </li>
      <li> Breathe out slowly for four seconds. </li>
      <li> Rest and repeat. </li>
    </ol>

    <p> The four different steps of the method are just like the four different sides of a box! </p>
    <p> This technique is best used during those moments when you feel like you can’t breathe,
      but can also be used on a normal basis just to clear your head or bring you back to focus. </p>

    <p> Click the button below to start the timed exercise. </p>

    <a href="/breathing-exercises">
      <button type="button"> Start! </button>
    </a>
  </body>
</html>