<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Breathing Exercises</title>
  </head>
  <body>
    <h1> Breathing Exercises </h1>

    <p> Your prompt is... </p>
    <h2> {{ prompt }} </h2>

    <p> Don't like this prompt?</p>
    <a href="">
      <button type="button">Regenerate</button>
    </a>

    <br>
    <br>

    <center>
      <a href="/">
        <button>
          <span class="text">Back to Homepage</span>
        </button>
    </a>
    </center>

  </body>
</html>