<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Mental Health Bot</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <h1> Juno - Mental Health Bot </h1>
    <p>
      <span class="neon-text">Hi, I'm Juno!<br>
      Let's do some mental health exercises together!
      Select an option to get started. </p></span>

    <a href="breathing-exercises">
      <button>
        <span class="button-text">Breathing</span>
      </button>
    </a>
    <a href="getting-leaves">
        <button>
          <span class="text">Leaves on a Stream</span>
        </button>
    </a>
    <a href="drawing">
        <button>
          <span class="text">Drawing</span>
        </button>
    </a>
    <a href="reflection">
      <button>
        <span class="text">Reflection</span>
      </button>
  </body>
</html>