<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mental Health Bot</title>
  </head>
  <body>
    <h1> Mental Health Bot </h1>

    <p> Hi, I'm [bot's name]! </p>
    <p>Let's do some mental health exercises together!
        Select an option to get started. </p>

    <a href="breathing-exercises">
      <button type="button">Breathing</button>
    </a>
    <a href="leaves-on-a-stream">
        <button type="button">Leaves On a Stream</button>
    </a>
    <a href="drawing">
        <button type="button">Drawing</button>
    </a>
  </body>
</html>