<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Mental Health Bot</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <h1> Mental Health Bot </h1>

    <p> Hi, I'm Juno! </p>
    <p>Let's do some mental health exercises together!
        Select an option to get started. </p>

    <a href="breathing-exercises">
      <button type="button">Breathing</button>
    </a>
    <a href="leaves-on-a-stream">
        <button type="button">Leaves On a Stream</button>
    </a>
    <a href="drawing">
        <button type="button">Drawing</button>
    </a>
    <a href="reflection">
      <button type="button">Reflection (for testing)</button>
  </body>
</html>